<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Imaan Saadat-Zia</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="heading">Anime Lookup</h1>
    <div id="headers">
        <a id="navigation" href="/">Home</a>
        <a id="navigation" href="/projects">Projects</a>
    </div>
    <hr>
    
    <br>
    <div>
        Anime Lookup is a collaborative project between myself and Ashlyn Jameson. This is a web application that allows a user to lookup descriptions of animes based on genre and add them to a list of their favorites. 
        Data is retireved and stored with the use of Mongoose and AtlasDB.
        Webpages are designed with the use of HTML and CSS and is navigated with the Javascript Express module. It is deployed using Render.
        This project also relies on the <a href="https://kitsu.docs.apiary.io/#introduction/json:api" target="_blank" rel="noopener noreferrer">Kitsu API</a>.
        <br><br>My contributions to this project include concept creation, designing the HTML and CSS files, and contributing to the Express functions.
        <br><br>This project was created as a part of the University of Maryland's CMSC335 (Web Application Development with JavaScript) course in Fall 2025.
    </div>
    <figure>
        <video controls autoplay>
            <source src="anime_lookup.mov" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </figure>

    <hr>
    <strong>Contact:</strong><br>
    Email: ims44@umd.edu<br>
    <a href="https://www.linkedin.com/in/imaan-saadat-zia-53844b266/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</body>

</html>