<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Imaan Saadat-Zia</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="heading">Flower Platformer</h1>
    <div id="headers">
        <a id="navigation" href="/">Home</a>
        <a id="navigation" href="/projects">Projects</a>
    </div>
    <hr>
    
    <br>
    <div>
        <img id="img-proj" src="flower_ss.png" alt="Flower Platformer">
        Flower Platformer is a story-driven, 2D platforming game created in Unity that explores topics of grief and family trauma. The player has the ability to move left and right as well as jump. 
        The goal of the game is to jump over the obstacles to make it to the end goal.
        <br><br>My contributions to this project include the code for player movement, done in C#, and the environment and level design. I also helped with story creation and creating animations within Unity. 
        All artwork and 2D assets were created by <a href="https://umcp.my.canva.site/renee-jun-portfolio/" target="_blank" rel="noopener noreferrer">Renee Jun</a>.
        <br><br>We hope to expand on this project in the near future to create a releasable demo featuring more levels, enemies to combat with, and more story-based elements.
        <br><br> 
    </div>
    <video controls autoplay>
        <source src="flower_vid.mov" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <hr>
    <strong>Contact:</strong><br>
    Email: ims44@umd.edu<br>
    <a href="https://www.linkedin.com/in/imaan-saadat-zia-53844b266/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</body>

</html>