<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Imaan Saadat-Zia</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="heading">Welcome to Imaan Saadat-Zia's Portfolio</h1>
    <br>
    <div id="headers">
        <a id="navigation" href="/">Home</a>
        <a id="navigation" href="/projects">Projects</a>
    </div>
    <hr>
    <br>
    <div id="img">
        <img src="pfp.png" width="300" height="300" alt="ISZ Headshot Picture">
        <p id="img-text"> Hello! I'm Imaan Saadat-Zia, a computer science major at the University of Maryland - College Park. I am a motivated and ambitious student with a passion for data science and video game design. I have taken classes and worked on projects to prepare myself for these subjects.
            Additionally, I am minoring in astronomy and sociology. In astronomy, I am particulary interested in astrophysics and astrobiology. I would love to find a position where I am able to pursue one or multiple of these interests.
        </p>
    </div>
    <br>
    <div>
        <strong><span id="aboutme-headers">Work Experience:</span></strong> <br>
        <br> <strong>The World Bank</strong> | Washington, DC
        <br> <em>Summer Data Analytics Intern</em> | <em>July-August 2024</em>
            <li>Supported the collection, cleaning, and analysis of health, nutrition, and population data for Middle-East and North Africa (MENA) regional reporting</li>
            <li>Conducted literature and background research to identify human development indicators, trends, and challenges in the MENA region</li>
            <li>Helped organize summer conferences bringing together global experts in human development for the MENA region</li>
            <br>
    </div>
    <div>
        <strong><span id="aboutme-headers">Relavant Coursework:</span></strong> <br>
        <br><div id="aboutme-text"><span id="aboutme-headers">Computer Science:</span> Advanced Data Structures, Web Application Development with JavaScript, Data Science, Machine Learning, Algorithms, Linear Algebra, Discrete Math, Computer Programming in C, Object-Oriented Programming</div>
        <br><div id="aboutme-text"><span id="aboutme-headers">Astronomy:</span> General Astronomy, The Science and Fiction of Planetary Systems, Origin of the Universe, Black Holes, Solar System Astronomy, Life in the Universe - Astrobiology </div>
        <br><div id="aboutme-text"><span id="aboutme-headers">Sociology:</span> Introduction to Sociology, Sociological Social Psychology, Inequality in American Society, Down the Rabbit Hole: Conspiracy Theories, Paranormal Beliefs, and How to Know What's Real </div>
    </div>
    <br>
    <div>
        <strong><span id="aboutme-headers">Additional Skills:</span></strong> <br>
        <br><div id="aboutme-text"><span id="aboutme-headers">Technical:</span> Python, Java, OCaml, Ruby, C, C#, HTML, CSS, Javascript</div>
        <br><div id="aboutme-text"><span id="aboutme-headers">Other:</span> Microsoft 365, Google Suite, Unity, Adobe Photoshop, Final Cut Pro </div>
        <br><div id="aboutme-text"><span id="aboutme-headers">Extracirricular:</span> National-level Equestrian Competitor in Dressage</div>
    </div>
    <hr>
    <strong>Contact:</strong><br>
    Email: ims44@umd.edu<br>
    <a href="https://www.linkedin.com/in/imaan-saadat-zia-53844b266/" target="_blank" rel="noopener noreferrer">LinkedIn</a>

</body>

</html>