<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Imaan Saadat-Zia</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="heading">Projects</h1>
    <div id="headers">
        <a id="navigation" href="/">Home</a>
        <a id="navigation" href="/projects">Projects</a>
    </div>
    <hr>
    <div id="body">

        <strong><a id="project-headers" href="/portfolioWebsite">Portfolio Website</a></strong> <span id="mini-headers">(this website!)</span>
        <br><em>January 2026</em> <br><em>HTML</em> | <em>CSS</em> | <em>Javascript</em>
        <li>Built an online web application to showcase my projects and skills</li>
        <li>Webpage is navigated with the use of express module</li>
        <li>Deployed with the use of Render</li>
        <br>
    
        <strong><a id="project-headers" href="/animeLookup">Anime Lookup</a></strong>
        <br><em>December 2025</em> <br><em>HTML</em> | <em>CSS</em> | <em>Javascript</em>
        <li>Collaborative effort with other students to build an online web application that allows users to lookup information about animes with the use of the Kitsu API</li>
        <li>Webpage is navigated with the use of express module</li>
        <li>User data is stored via Mongoose in Atlas DB</li>
        <li>Deployed with the use of Render</li>
        <br>
        
        <strong><a id="project-headers" href="/spaceAdventure">Space Adventure</a></strong>
        <br><em>August 2025</em> <br><em>C#</em> | <em>Unity</em>
        <li>Collaborated with other students to create a virtual reality game via Unity compatible for Oculus and Meta Quest</li>
        <li>Built environment and mechanics for player movement and object interaction</li>
        <li>Designed background music</li>
        <li>Contributed to design process from concept to finished product</li>
        <br>

        <strong><a id="project-headers" href="/flowerPlatform">Flower Platformer</a></strong>
        <br><em>April 2025</em> <br><em>C#</em> | <em>Unity</em>
        <li>Collaborated with other students to build a platforming game in Unity</li>
        <li>Built mechanics and animations for player movement including jumping and directional movement</li>
        <br>

    </div>
    <hr>
    <strong>Contact:</strong><br>
    Email: ims44@umd.edu<br>
    <a href="https://www.linkedin.com/in/imaan-saadat-zia-53844b266/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</body>

</html>