<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Imaan Saadat-Zia</title>
    <link rel="stylesheet" href="style.css" title="style">
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <h1 id="heading">Space Adventure</h1>
    <div id="headers">
        <a id="navigation" href="/">Home</a>
        <a id="navigation" href="/projects">Projects</a>
    </div>
    <hr>
    
    <br>
    <div>
        <img id="img-proj2" src="nextnow1.JPEG" alt="Space Adventure during NextNow Fest">
        Space Adventure is a virtual reality game created in Unity. The player is brought to an alien world filled with creatures similar to extinct life that was on Earth.
        The player is able to explore this world and has options to interact with these creatures in both positive and negative ways. 
        The decisions that the player makes as they navigate the world will impact the outcome of the story and the planet they are on.
        <br><br>My contributions to this project include assisting with the concept creation and overall theme of the project, creating the code for player and object interaction, done in C#, creating the environment design, and creating the background music. Additionally, I created some of the animations featured in the final design. 
        All artwork and bird 3D assets were created by <a href="https://umcp.my.canva.site/renee-jun-portfolio/" target="_blank" rel="noopener noreferrer">Renee Jun</a>.
        <img id="img-proj3" src="nextnow2.JPEG" alt="Space Adventure during NextNow Fest 2">
        <br><br>This project was created as a part of the University of Maryland's <a href="https://imd.umd.edu/get-involved/new-works-incubator" target="_blank" rel="noopener noreferrer">New Works Incubator program</a> designed to help students create projects for the university's annual NextNow Festival. 
        <br><br><em>All images courtesy of Lisa Helfert</em>  
    </div>
    <figure>
        <video controls autoplay>
            <source src="nextnow_vid.mov" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <figcaption>Video showcasing demo version of the project - <em>video of final product coming soon</em></figcaption>
    </figure>

    <hr>
    <strong>Contact:</strong><br>
    Email: ims44@umd.edu<br>
    <a href="https://www.linkedin.com/in/imaan-saadat-zia-53844b266/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</body>

</html>